<% if resource.errors.any? %>
  <div id="error_explanation" class="my-2">
    <div class="alert alert-danger" role="alert">
    <%= I18n.t("errors.messages.not_saved") %>
    </div>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
