<div class="d-flex py-3 align-items-center border-bottom">
  <div class="me-3">
    <%= link_to photo_or_placeholder(doctor, 100, 100, 'thumb-photo'), doctor_path(doctor) %>
  </div>

  <div class="flex-grow-1">
    <h3><%= link_to doctor.full_name, doctor_path(doctor), class: 'link-primary text-decoration-none' %></h3>
    <p class="mb-0 text-muted"><%= doctor.category.title %></p>
  </div>

  <%= link_to(t('shared.make_an_appointment'), new_doctor_appointment_path(doctor),
              class: 'btn btn-outline-primary', type: 'button') unless current_doctor || !doctor.available? %>
</div>