@import "custom.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background: $blue-100;
}

html, body {
  height: 100vh;
}

.main-container {
  background: $gray-100;
  min-height: calc(100% - #{$nav-link-height} - #{$navbar-padding-y} * 2);
}